
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products-wrapper{
  height: 100vh;
  width: auto;
  margin: auto;
  margin-top: 5rem;
  margin-left: 18rem;
}
.products-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
