/*new arrival card*/
.new-arrival-card{
    margin: auto;
    margin-top: 2rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    /*used margin auto on content div*/
    align-items: center;
}

.new-arrival-image{
    width: 30%; 
}

.new-arrival-image img{
    max-width: 100%;
    object-fit: cover;
}

.new-arrival-content{
    margin: 0 auto;
}

.new-arrival-btn{
    display: inline-block;
    border: 0.5px solid var(--color-primary);
    color: var(--color-primary);
    margin-top: 4%;
    padding: 2% 10%;
    /*experimental - % will be removed/replaced later*/
}

.new-arrival-content a:hover{
    border-color: var(--color-black);
}

@media screen and (max-width: 620px) {
    /* NewArrival.jsx */
    .new-arrival-card{
        flex-direction: column;
    }
    .new-arrival-image{
        width: 50%;
    }
    .new-arrival-content{
        width: 60%;
        text-align: center;
    }  
}
