@import url("./styles/root.css");

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.mockman{
    display: flex;
}

.request-wrapper{
    width: 45%;
    height: 80vh;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

.response-wrapper{
    width: 45%;
    height: 80vh;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}